<!DOCTYPE html>
<html>
<head>
  <title>LookingGlass</title>
</head>
<body>
  <h1>LookingGlass</h1>
  <h2>Go Gala Hackathon 2016</h2>
  {{ .Requests | len }} event(s) recorded
  {{ $a := .ResponseTimeAnalysis }}
  <dl>
    <dt>min</dt>
    <dd>{{ $a.Min }}</dd>
    <dt>max</dt>
    <dd>{{ $a.Max }}</dd>
    <dt>mean</dt>
    <dd>{{ $a.Mean }}</dd>
  </dl><!--   <ul>
  {{ range .Requests }}
    <li>{{ .Req.RemoteAddr }} {{ .RecordedAt }}:{{ .Req.URL }}</li>
  {{ end }}
  </ul> -->

  <ul>
  {{ range $route, $events := .RouteGroups }}
    <li>
      <p>{{ $route }}: {{ $events | len }} reqs:</p>
      <ul>
        {{ range $events }}
          <li>{{ .UpstreamDuration }}</li>
        {{ end }}
      </ul>
    </li>
  {{ end }}
  </ul>
</body>
</html>